@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0px;
}

*::selection {
    color: #ffffff;
    background-color: #540000;
}

body {
    height: 100vh;
    width: 100vw;
}

.login-and-signup {
    background: url("/assets/images/login-background.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.red-banner {
    width: 100%;
    height: 50px;
    background-color: #540000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffffff;
}

.red-banner::selection {
    color: #540000;
    background-color: #ffffff;
}

nav {
    background-color: #ffffff;
}

.login-and-signup header nav {
    display: flex;
    align-items: center;
    gap: 150px;
}

.logo img {
    width: 120px;
    height: 105px;
    user-select: none;
}

a {
    color: #da1818;
    text-decoration: none;
}

.address {
    width: 380px;
    font-size: 1.5rem;
    text-align: center;
}

.btn-option {
    color: #000000;
    font-size: 1.5rem;
}

.mb {
    margin-bottom: 10px;
}

.info-box {
    max-width: 330px;
    color: #540000;
    margin-bottom: 100px;
}

.info-box h1 {
    font-size: 2.5rem;
}

.info-box .description {
    font-size: 1.2rem;
}

.login-container {
    text-align: center;
}

.login-box {
    min-width: 600px;
    background-color: #ffffff;
    text-align: left;
}

.login-box .title {
    background-color: #540000;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

.login-box .content {
    padding: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

.user-input {
    max-height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    border: none;
    outline: none;
    background-color: inherit;
    width: 100%;
}

.input-container {
    height: auto;
    background-color: #eeeeee;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px #eeeeee;
}

.btn {
    background-color: #540000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.signup-banner {
    width: 100%;
    text-align: right;
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px 20px 0px;
}

.divisor .line {
    width: 50px;
    height: 1px;
    border: 1px solid #999999;
}

.divisor .text {
    color: #999999;
    user-select: none;
}

.google-btn {
    width: 220px;
    height: 40px;
    padding: 10px;
    color: #757575;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fcfcfc;
    border: none;
    box-shadow: 0px 3px 4px 0px #cccccc;
    cursor: pointer;
    user-select: none;
    transition: all 0.40s ease;
    margin: auto;
}

.google-btn:hover {
    box-shadow: 0px 3px 8px 0px #bbbbbb;
    user-select: none;
}

.google-btn img {
    width: 20px;
    height: 20px;
}

.container {
    width: 1200px;
}

header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

header nav .container .logo img {
    width: 95px;
    height: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px;
}

header nav li {
    min-width: 95px;
}

header nav ul a {
    color: #000000;
    font-weight: 600;
}

.search-area {
    display: flex;
    min-width: 300px;
    align-items: center;
    justify-content: center;
}

.login-nav-area {
    display: flex;
    align-items: center;
}

.login-nav-area .btn-option {
    font-size: inherit;
    font-weight: 600;
}

.login-nav-area .btn {
    padding: 10px 30px;
}

.triangle {
    width: 0px;
    height: 0px;
    border-bottom: 84px solid #d9d9d9;
    border-left: 84px solid transparent;
}

.rectangle {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 270px;
    height: 84px;
    padding: 0px 20px 0px 20px;
    background-color: #d9d9d9;
}

#index-page {
    height: 90vh;
    background: url("/assets/images/header-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.text-box {
    color: #ffffff;
    width: 800px;
    margin: 100px 0px 0px 30px;
}

.text-box p {
    margin-top: 30px;
    font-size: 1.2rem;
}


@media (width < 1300px) {
    * {
        font-size: 14px;
    }
}